openapi: 3.0.3
info:
  title: Privileged Access Management System API
  description: |
    Unified BFF API. Orchestrates Discovery, Identity (AuthWS), and Secrets (PVault).
    Uses 'Polymorphic Actions' for Operational tasks.
  version: 2026.1.0
  contact:
    name: PDAccess Support
    email: info@pdaccess.com

servers:
  - url: https://app.pdaccess.com/api/v1/ws

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Asset:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        name: { type: string }
        owner_id: { type: string, format: uuid }
        parent_id: { type: string, format: uuid, nullable: true }
        spec: { type: object }
        created_at: { type: string, format: date-time }

    CreateAssetRequest:
      type: object
      required: [name, type, spec]
      properties:
        name: 
          type: string
          example: "Production Database"
        type: 
          type: string
          enum: [service, service_group, vault, secret, policy, paste, jit]
        spec:
          oneOf:
            - $ref: '#/components/schemas/ServiceSpec'
            - $ref: '#/components/schemas/VaultSpec'
            - $ref: '#/components/schemas/SecretSpec'
            - $ref: '#/components/schemas/PolicySpec'
            - $ref: '#/components/schemas/PasteSpec'
            - $ref: '#/components/schemas/JITSpec'

    # --- Specific Logic Schemas ---

    ServiceSpec:
      type: object
      required: [endpoint, protocol]
      properties:
        endpoint: { type: string, example: "10.0.5.1" }
        protocol: { type: string, enum: [ssh, rdp, https, mysql, postgres] }
        tags: { type: object, additionalProperties: { type: string } }

    VaultSpec:
      type: object
      required: [vault_type]
      properties:
        vault_type: { type: string, enum: [personal, shared, system] }
        encryption_level: { type: string, default: "aes-256-gcm" }
        recovery_enabled: { type: boolean, default: true }

    SecretSpec:
      type: object
      required: [vault_id, encrypted_payload]
      properties:
        vault_id: { type: string, format: uuid }
        encrypted_payload: { type: string, description: "Base64 encrypted blob" }
        mime_type: { type: string, default: "text/plain" }
        rotation_enabled: { type: boolean }

    PolicySpec:
      type: object
      required: [subjects, actions, objects]
      properties:
        subjects:
          type: object
          properties:
            groups: { type: array, items: { type: string, format: uuid } }
            users: { type: array, items: { type: string, format: uuid } }
        actions:
          type: array
          items: { type: string, enum: [view, read, connect, rotate, delete, manage_policy] }
        objects:
          type: object
          properties:
            tags: { type: object }
            asset_ids: { type: array, items: { type: string, format: uuid } }

    PasteSpec:
      type: object
      required: [content, ttl_seconds]
      properties:
        content: { type: string, description: "Ephemeral encrypted text" }
        ttl_seconds: { type: integer, example: 3600 }
        burn_after_read: { type: boolean, default: true }

    JITSpec:
      type: object
      required: [target_asset_id, duration_minutes, justification]
      properties:
        target_asset_id: { type: string, format: uuid }
        duration_minutes: { type: integer, example: 120 }
        justification: { type: string }
        approver_group: { type: string, format: uuid }

    User:
      type: object
      required: [id, username, email]
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        email: { type: string }
        status: { type: string, enum: [active, locked] }
        display_name: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        notification_settings: { type: object }

    UpdateUserProfileRequest:
      type: object
      properties:
        display_name: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string }
        notification_settings: { type: object }

    UserGroup:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }

    AuditEntry:
      type: object
      properties:
        timestamp: { type: string, format: date-time }
        actor_id: { type: string, format: uuid }
        action: { type: string }
        resource_id: { type: string, format: uuid }
        success: { type: boolean }

    PaginationMeta:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }

    GroupMembership:
      type: object
      properties:
        group_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        created_at: { type: string, format: date-time }

    UserGroupList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/UserGroup' } }
        meta: { $ref: '#/components/schemas/PaginationMeta' }

    GroupMembershipList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/GroupMembership' } }
        meta: { $ref: '#/components/schemas/PaginationMeta' }

    AssetList:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Asset' } }
        meta: { $ref: '#/components/schemas/PaginationMeta' }

paths:
  # --- ASSET DISCOVERY & ACTIONS ---
  /assets:
    get:
      tags: [Assets]
      security: [{ bearerAuth: [] }]
      summary: Hybrid Search (Vector/IP/CIDR)
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { type: string }
          description: Filter by asset type (service, service_group, vault, secret, policy, paste, jit)
        - name: parent_id
          in: query
          schema: { type: string, format: uuid }
          description: Filter by parent asset ID
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
          description: Maximum number of assets to return
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
          description: Number of assets to skip
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetList'
    post:
      tags: [Assets]
      summary: Create Universal Asset
      description: |
        Create any system resource. The 'spec' object changes based on the 'type'.
        Auto-generates an Ownership Policy for the creator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '201':
          description: Asset created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'

  /assets/{id}/actions:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Assets]
      security: [{ bearerAuth: [] }]
      summary: Polymorphic Action (Check-out, Rotate, Elevate)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action_type]
              properties:
                action_type: { type: string, enum: [check_out, check_in, rotate, elevate] }
                parameters: { type: object }
      responses:
        '200':
          description: Success
        '202':
          description: Async task queued

  # --- IDENTITY MANAGEMENT (AuthWS) ---
  /identity/user:
    get:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: Get current or specific user
      parameters:
        - name: user_id
          in: query
          schema: { type: string, format: uuid }
          description: User ID to look up (optional, defaults to current user)
        - name: view
          in: query
          schema: { type: string, enum: [summary, full], default: summary }
          description: Level of detail (summary returns basic info, full includes profile fields)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
    post:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: Update current user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Validation error

  /identity/users:
    get:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
    post:
      tags: [Identity]
      summary: Onboard User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username: { type: string }
                email: { type: string }
                password: { type: string }
      responses:
        '201':
          description: User & Vault Created

  /identity/groups:
    get:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Return user groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupList'
    post:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: Create UserGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '201':
          description: Group Created

  /identity/groups/{groupId}/memberships:
    parameters:
      - name: groupId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: List Group Members
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Return group members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembershipList'
    post:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: Assign User to Group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
      responses:
        '201':
          description: Membership Created
    delete:
      tags: [Identity]
      security: [{ bearerAuth: [] }]
      summary: Remove User from Group
      parameters:
        - name: user_id
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Success

  # --- VAULT CRYPTOGRAPHY (PVault) ---
  /vaults/{vaultId}/memberships:
    parameters:
      - name: vaultId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Vaults]
      security: [{ bearerAuth: [] }]
      summary: List Vault Members (Roles & Keys)
      responses:
        '200':
          description: return list of vault membership
    post:
      tags: [Vaults]
      security: [{ bearerAuth: [] }]
      summary: Add Member to Vault (Key Wrapping)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [member_id, member_type, role]
              properties:
                member_id: { type: string, format: uuid }
                member_type: { type: string, enum: [user, vault] }
                role: { type: string, enum: [owner, manager, viewer] }
      responses:
        '201':
          description: Key Wrapped and Member Added

  # --- GOVERNANCE & ADMIN ---
  /admin/config:
    get:
      tags: [Admin]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: current configuration for admin setting
    patch:
      tags: [Admin]
      security: [{ bearerAuth: [] }]
      summary: Update Security Posture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jwt_ttl: { type: integer }
                network_whitelist: { type: array, items: { type: string } }
                rebuild_policy_cache: { type: boolean }
      responses:
        '200':
          description: Config Updated

  /audit/logs:
    get:
      tags: [Audit]
      security: [{ bearerAuth: [] }]
      summary: Query Audit Trails
      parameters:
        - name: actor_id
          in: query
          schema: { type: string, format: uuid }
        - name: resource_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditEntry' }