openapi: 3.0.3
info:
  title: PDAccess API
  description: Privileged Access Management System API
  version: 1.0.0
  contact:
    name: PDAccess Support

servers:
  - url: https://app.pdaccess.com/api/v1/ws
    description: Production server
  - url: http://localhost:80/v1
    description: Development server

security:
  - BearerAuth: []

tags:
  - name: Services
    description: Service management
  - name: Groups
    description: Group management
  - name: Policies
    description: Policy management
  - name: Admin
    description: Administrative functions
  - name: Activities
    description: Activity logging
  - name: Alarms
    description: Alarm and alert management
  - name: Paste
    description: Secure paste functionality
  - name: Search
    description: Global search

paths:
  # ==================== Services ====================
  /service:
    post:
      tags:
        - Services
      summary: Create service
      description: Create a new service
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreate'
      responses:
        '201':
          description: Service created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '4XX':
          $ref: '#/components/responses/ClientError'

  /service/{serviceId}:
    get:
      tags:
        - Services
      summary: Get service
      description: Get service by ID
      security:
        - BearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDetail'

    put:
      tags:
        - Services
      summary: Update service
      description: Update service details
      security:
        - BearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/ServiceUpdate'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '4XX':
          $ref: '#/components/responses/ClientError'

    delete:
      tags:
        - Services
      summary: Delete service
      description: Delete a service
      security:
        - BearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Service deleted
        '4XX':
          $ref: '#/components/responses/ClientError'

  # ==================== Groups ====================
  /group:
    post:
      tags:
        - Groups
      summary: Create group
      description: Create a new group
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '4XX':
          $ref: '#/components/responses/ClientError'

  /group/{groupId}:
    get:
      tags:
        - Groups
      summary: Get group
      description: Get group by ID
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetail'
        '4XX':
          $ref: '#/components/responses/ClientError'

    delete:
      tags:
        - Groups
      summary: Delete group
      description: Delete a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Group deleted
        '4XX':
          $ref: '#/components/responses/ClientError'

  /group/{groupId}/members:
    get:
      tags:
        - Groups
      summary: Get group members
      description: Get members of a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Group members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '4XX':
          $ref: '#/components/responses/ClientError'

    post:
      tags:
        - Groups
      summary: Add group member
      description: Add a user to a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum: [admin, member]
                  default: member
      responses:
        '201':
          description: Member added
        '4XX':
          $ref: '#/components/responses/ClientError'

  /group/{groupId}/members/{userId}:
    delete:
      tags:
        - Groups
      summary: Remove group member
      description: Remove a user from a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
        '4XX':
          $ref: '#/components/responses/ClientError'

  /group/{groupId}/policy:
    get:
      tags:
        - Groups
      summary: Get group policies
      description: Get policies assigned to a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Group policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '4XX':
          $ref: '#/components/responses/ClientError'

    post:
      tags:
        - Groups
      summary: Assign policy to group
      description: Assign a policy to a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policyId
              properties:
                policyId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Policy assigned
        '4XX':
          $ref: '#/components/responses/ClientError'

  /group/{groupId}/policy/{policyId}:
    delete:
      tags:
        - Groups
      summary: Remove policy from group
      description: Remove a policy from a group
      security:
        - BearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Policy removed
        '4XX':
          $ref: '#/components/responses/ClientError'

  /policies:
    get:
      tags:
        - Policies
      summary: List policies
      description: Get all policies
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Policy list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyList'
        '4XX':
          $ref: '#/components/responses/ClientError'

    post:
      tags:
        - Policies
      summary: Create policy
      description: Create a new policy
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                description:
                  type: string
                type:
                  type: string
                  enum: [Access, Security, Network]
                scope:
                  type: string
                enabled:
                  type: boolean
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '4XX':
          $ref: '#/components/responses/ClientError'

  /policies/{policyId}:
    get:
      tags:
        - Policies
      summary: Get policy
      description: Get policy by ID
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '4XX':
          $ref: '#/components/responses/ClientError'

    put:
      tags:
        - Policies
      summary: Update policy
      description: Update policy details
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                type:
                  type: string
                  enum: [Access, Security, Network]
                scope:
                  type: string
                enabled:
                  type: boolean
      responses:
        '200':
          description: Policy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '4XX':
          $ref: '#/components/responses/ClientError'

    delete:
      tags:
        - Policies
      summary: Delete policy
      description: Delete a policy
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Policy deleted
        '4XX':
          $ref: '#/components/responses/ClientError'

  # ==================== Admin ====================
  /admin/audit-logs:
    get:
      tags:
        - Admin
      summary: List audit logs
      description: Get system audit logs for administrative review
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
        - name: action
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit logs list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogList'

  /admin/system-health:
    get:
      tags:
        - Admin
      summary: Get system health
      description: Get system health status and metrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'

  /admin/settings:
    get:
      tags:
        - Admin
      summary: Get system settings
      description: Get system configuration settings
      security:
        - BearerAuth: []
      responses:
        '200':
          description: System settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemSettings'

    put:
      tags:
        - Admin
      summary: Update system settings
      description: Update system configuration settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemSettingsUpdate'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemSettings'

  # ==================== Activities ====================
  /activities:
    get:
      tags:
        - Activities
      summary: List activities
      description: Get paginated list of activities, optionally filtered by resource
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: severity
          in: query
          schema:
            type: string
            enum: [all, info, success, warning, error]
        - name: serviceId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by service ID
        - name: groupId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by group ID
        - name: sessionId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by session ID
      responses:
        '200':
          description: Activities list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'

  /activities/{activityId}:
    get:
      tags:
        - Activities
      summary: Get activity
      description: Get activity by ID
      security:
        - BearerAuth: []
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Activity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityDetail'

  # ==================== Alarms ====================
  /alarms:
    get:
      tags:
        - Alarms
      summary: List alarms
      description: Get paginated list of alarms
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: severity
          in: query
          schema:
            type: string
            enum: [all, critical, warning, info]
      responses:
        '200':
          description: Alarms list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmList'

  /alarms/{alarmId}/acknowledge:
    post:
      tags:
        - Alarms
      summary: Acknowledge alarm
      description: Acknowledge an alarm
      security:
        - BearerAuth: []
      parameters:
        - name: alarmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alarm acknowledged

  /alarms/{alarmId}:
    get:
      tags:
        - Alarms
      summary: Get alarm
      description: Get alarm by ID
      security:
        - BearerAuth: []
      parameters:
        - name: alarmId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alarm details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'

  # ==================== Paste ====================
  /paste:
    get:
      tags:
        - Paste
      summary: List pastes
      description: Get paginated list of pastes
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, create, expiring]
      responses:
        '200':
          description: Pastes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasteList'

    post:
      tags:
        - Paste
      summary: Create paste
      description: Create a new secure paste
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasteCreate'
      responses:
        '201':
          description: Paste created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paste'

  /paste/{pasteId}:
    get:
      tags:
        - Paste
      summary: Get paste
      description: Get paste by ID (view once if burn after read)
      parameters:
        - name: pasteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paste details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paste'

    delete:
      tags:
        - Paste
      summary: Delete paste
      description: Delete a paste
      security:
        - BearerAuth: []
      parameters:
        - name: pasteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Paste deleted

  # ==================== Search ====================
  /search:
    get:
      tags:
        - Search
      summary: Global search
      description: Search and list across all resources in inventory
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search query
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [Service, Group]
          description: Resource type to search/list
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [all, active, maintenance, inactive]
          description: Filter by status (for Service)
        - name: groupId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by group ID (for Service)
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        '4XX':
          $ref: '#/components/responses/ClientError'
components:
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
      description: Items per page
    SortParam:
      name: sort
      in: query
      schema:
        type: string
      description: Sort field and direction (e.g., "name:asc")
    SearchParam:
      name: search
      in: query
      schema:
        type: string
      description: Search query

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    ClientError:
      description: Client Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericError'

  schemas:
    # Common
    GenericError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    # Services
    Service:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        hostname:
          type: string
        alias:
          type: string
        protocol:
          type: string
        groupId:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum: [Active, Maintenance, Inactive]
        type:
          type: string
        uptime:
          type: string
        lastDeployed:
          type: string
          format: date

    ServiceDetail:
      allOf:
        - $ref: '#/components/schemas/Service'
        - type: object
          properties:
            group:
              $ref: '#/components/schemas/Group'

    ServiceCreate:
      type: object
      required:
        - name
        - hostname
        - protocol
        - type
      properties:
        name:
          type: string
        hostname:
          type: string
        alias:
          type: string
        protocol:
          type: string
        groupId:
          type: string
          format: uuid
          nullable: true
        type:
          type: string

    ServiceUpdate:
      type: object
      properties:
        name:
          type: string
        hostname:
          type: string
        alias:
          type: string
        protocol:
          type: string
        groupId:
          type: string
          format: uuid
          nullable: true
        status:
          type: string

    # Groups
    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        parentId:
          type: string
          format: uuid
          nullable: true
        members:
          type: integer
        description:
          type: string
        created:
          type: string
          format: date

    GroupDetail:
      allOf:
        - $ref: '#/components/schemas/Group'
        - type: object
          properties:
            parent:
              $ref: '#/components/schemas/Group'
            children:
              type: array
              items:
                $ref: '#/components/schemas/Group'

    GroupCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        parentId:
          type: string
          format: uuid
          nullable: true
        description:
          type: string

    # Policies
    Policy:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [Access, Security, Network]
        scope:
          type: string
        enabled:
          type: boolean
        lastModified:
          type: string
          format: date

    PolicyList:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Policy'

    # Admin
    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        userEmail:
          type: string
        action:
          type: string
        resource:
          type: string
        resourceId:
          type: string
          format: uuid
          nullable: true
        details:
          type: object
        ipAddress:
          type: string
        timestamp:
          type: string
          format: date-time

    AuditLogList:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/AuditLog'

    SystemHealth:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        uptime:
          type: string
        cpu:
          type: number
        memory:
          type: number
        disk:
          type: number
        services:
          type: object

    SystemSettings:
      type: object
      properties:
        sessionTimeout:
          type: integer
        maxLoginAttempts:
          type: integer
        passwordMinLength:
          type: integer
        passwordRequireMfa:
          type: boolean
        allowedIpRanges:
          type: array
          items:
            type: string
        emailNotifications:
          type: boolean

    SystemSettingsUpdate:
      type: object
      properties:
        sessionTimeout:
          type: integer
        maxLoginAttempts:
          type: integer
        passwordMinLength:
          type: integer
        passwordRequireMfa:
          type: boolean
        allowedIpRanges:
          type: array
          items:
            type: string
        emailNotifications:
          type: boolean

    # Activities
    Activity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        message:
          type: string
        severity:
          type: string
          enum: [info, success, warning, error]
        source:
          type: string
        time:
          type: string

    ActivityDetail:
      allOf:
        - $ref: '#/components/schemas/Activity'
        - type: object
          properties:
            userId:
              type: string
              format: uuid
            serviceId:
              type: string
              format: uuid
            service:
              $ref: '#/components/schemas/Service'
            metadata:
              type: object
              
    ActivityList:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Activity'

    # Alarms
    Alarm:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        message:
          type: string
        severity:
          type: string
          enum: [critical, warning, info]
        source:
          type: string
        time:
          type: string
        acknowledged:
          type: boolean

    AlarmList:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Alarm'

    # Paste
    Paste:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        views:
          type: integer
        burnAfterRead:
          type: boolean

    PasteCreate:
      type: object
      required:
        - content
      properties:
        title:
          type: string
        content:
          type: string
        expiresIn:
          type: integer
          description: Expiration in hours
        burnAfterRead:
          type: boolean
          default: false

    PasteList:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Paste'

    # Search
    SearchResults:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
      
